@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply bg-[#C2BFB6];
}

@-moz-document url-prefix() {
  /* Disable scrollbar Firefox */
  html {
    scrollbar-width: none;
  }
}
body {
  -ms-overflow-style: none; /* Disable scrollbar IE 10+ */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* Nasconde la barra di scorrimento */
}

.active-skill {
  @apply lg:before:content-['']
  lg:before:absolute
  lg:before:w-4
  lg:before:h-4
  lg:before:rounded-full
  lg:before:top-[50%]
  lg:before:-right-16
  lg:before:translate-x-[45%]
lg:before:bg-white


  flex 
  justify-between 
  gap-2 
  items-center
  lg:after:content-['']
  lg:after:absolute
  lg:after:w-[0.1rem]
  lg:after:h-[7.8rem]
  lg:after:top-0
  lg:after:-right-16
  lg:after:opacity-20
lg:after:bg-white;
}
.no-active-skill {
  @apply flex 
  justify-between 
  gap-2 
  items-center
  lg:after:content-['']
  lg:after:absolute
  lg:after:w-[0.1rem]
  lg:after:h-[7.8rem]
  lg:after:top-0
  lg:after:-right-16
  lg:after:opacity-20
lg:after:bg-white;
}

.hamburger {
  @apply w-7 h-[0.1rem] opacity-90 bg-white;
}

.active-label {
  @apply text-2xl
  text-white
  uppercase
  font-semibold
  relative
  w-fit;
}
